/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*

*.swp
index.js
.spago/
/.parcel-cache
build/*
dist/*
packages.dhall
package-lock.json
.vscode/
